body{
    background: url(../images/banner.jpeg) top right no-repeat;
    color: #343a40;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    width: 640px;
    margin: 0 auto;
}


a{
    color: #f8f9fa;
    text-decoration: none;
    font-size: 16px;
}
header,
footer{
    background-color: #343a40;
    color: #f8f9fa;
}
header a:hover,
footer a:hover{
    text-decoration: overline;
}

footer a{color: #007bff;}
footer a:hover{color: #0056b3;}

h1{
    font-family: "Roboto Slab", serif;
    font-size: 2em;
}
h2{
    font-family: Montserrat, sans-serif;
    font-size: 1.5em;
}
h3{
    font-family: Merriweather, serif;
    font-size: 1.25em;
}

ul{padding: 0;}
li{
    list-style: none;
    display: inline-block;
    padding: 0 10px;
    margin: 0 auto;
}

header li{
    text-align: justify;
    text-decoration: none;
}

img{
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

figure{
    border: 3px solid #e0e0e0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.226);
    border-radius: 12px;
}


header,
footer{
    padding: 1px 0;
}

#inicio,
#volcanes{
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 1px 0;
}