body,a{
    text-align: center;
    font-family: Arial;
    width: 640px;
    margin: 0 auto;
    color: #f8f9fa;
    background-color: #343a40;
    text-size-adjust: 160px;
    font-size: 16px;
}
h1{
    font-family: "Roboto Slab";
    font-size: 2em;
}
h2{
    font-family: Montserrat;
    font-size: 1.5em;
}
h3{
    font-family: Merriweather;
    font-size: 1.25em;
}

li{list-style: none; display: inline-block; padding: 0 5px;}
a{text-decoration: none;}

footer a{color: #007bff;}

header a:hover,
footer a:hover{
    text-decoration: overline;
}
footer a:hover{color: #0056b3;}
header li{
    list-style: none;
    text-align: justify;
    text-decoration: none;
}

figure{
    border: #e0e0e0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1)
}



/* figcaption{ */
    /* text-transform: uppercase; */
    /* text-decoration: underline blue;
    color: blue;
    font-variant: small-caps;
} */

/* p{
    text-align: justify;
    text-indent: 3em;
    word-spacing: 5px;
} */


/* #inicio{
    width: 50%;
    background-color: lightgoldenrodyellow;
    direction: rtl;
}

#inicio p{
    white-space: nowrap;
    height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
} */