:root {
    --color1: #00686c;
    --color2: #32c2b9;
    --color3: #edecb3;
    /* color del texto */
    --color4: #fad928;
    --color5: #ff9915;
}


.dado{border: 5px solid black; border-radius: 30px; height: 200px; width: 200px; position: relative; align-self: center; display: inline-block; background-color: #90ee90;}
.bola{border: 5px solid black; border-radius: 100%; height: 25px; width: 25px; background-color: black; position: absolute; translate: -17.5px -17.5px;}

.v5{top: 25%; left: 25%;}
.s5{top: 75%; left: 75%;}
.v5s5{top: 25%; left: 75%;}
.s5v5{top: 75%; left: 25%;}

.centrov{top: 50%;}
.centroh{left: 50%;}

body{height: 98.5vh;}   

main>div{display: flex; flex-direction: column;}
main>div>div[class]{display: flex; justify-content: center;}
main div{gap: 4px;}
main{margin: 15px 0;}

header h1,body{margin: 0; padding: 0;}
header,footer{background-color: var(--color1); color: var(--color3); padding: 0.5em; text-align: center;}
header{padding-top: 0;}
header h1{border: 5px solid var(--color3); width: fit-content;margin: 0 auto; padding: 0.6em; border-radius:0 0 15px 0; border-style: none solid solid none;}